<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'enrollments/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Montserrat:wght@700&family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Enrollment Successful!</h2>
    <a href="{% url 'course_list' %}" class="button">Go back to Courses</a>
</div>
</body>
</html>
